.swal2-container {
	z-index: 9999999 !important;
}

h1,
h2,
h4,
h3,
h5,
a,
button {
	font-family: 'Poppins', sans-serif;
}

@font-face {
	font-family: 'me_quran';
	src: url('/fonts/me_quran.tff');
}

@font-face {
	font-family: 'custom-quran-font';
	src: url('/fonts/me_quran2.tff');
}

@font-face {
	font-family: 'me_quran2';
	src: url('/fonts/me_quran2.1.ttf');
}

div:lang(quran) {
	direction: rtl;
	font-family: 'me_quran2';
}

.annotated-ifh,
.original {
	direction: rtl;
	font-family: 'me_quran2';
}

input:lang(quran) {
	direction: rtl;
	font-family: 'me_quran2';
}

.arabic {
	font-family: 'me_quran';
	font-size: 17pt;
	direction: rtl;
}

.arabic input {
	margin-left: 10px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.flex {
	display: flex;
}

.clean-list,
.horizontal-list {
	padding: 0;
	list-style: none;
}

.horizontal-list li {
	display: inline-block;
}

.light-hvr {
	color: rgb(231, 231, 231);
}

.light-hvr:hover {
	color: rgb(71, 71, 71);
}

body {
	/* margin: 2em;
  font-weight: 400; */
}

.btn.fa {
	font-weight: bold;
}

.clean-a,
.clean-a:hover {
	text-decoration: none;
	color: inherit;
}

.clean-list {
	list-style: none;
	padding: 0;
}

.hori-list {
	list-style: none;
	padding: 0;
}

.hori-list li {
	display: inline;
}

.asker {
	color: #16a085;
}

.color-red {
	color: #e74c3c !important;
}

.color-green {
	color: #2ecc71 !important;
}

.color-orange {
	color: #f1c40f !important;
}

.back-orange {
	background-color: #f1c40f;
}

.feedback-input {
	background-color: #c24f49;
	color: #fff;
}

.comment-input {
	background-color: #c4a93b;
	color: #fff;
}

.comment-rasterize {
	background-color: #c4a93b;
	color: #fff;
	padding: 25px;
}

.feedback-rasterize {
	background-color: #c24f49;
	color: #fff;
	padding: 25px;
}

.navbar-fixed-top {
}

.navbar {
	background-color: #fff;
	border: 0;
	padding: 20px 0;
}

#layout-render {
	padding-top: 40px;
}

.center-text {
	text-align: center;
}

.center-box {
	text-align: center;
	margin: 0 auto;
	display: block;
}

#random {
	font-size: 55px;
	padding: 1em 0 1em 0;
	display: block;
}

.hidden {
	display: none;
}

.key {
	width: 2em;
}

.key img:hover {
}
.r-unm {
	padding: 1em;
	text-align: center;
	border-radius: 15px;
	margin-bottom: 1em;

	.btn-warning {
		display: block;
		margin: 0 auto;
	}
}

.r-m {
	padding: 1em;
	text-align: center;
	border-radius: 15px;
	margin-bottom: 1em;

	.btn-info {
		display: block;
		margin: 0 auto;
	}
}

#logo {
	width: 5em;
	margin: 0 auto;
	position: relative;
	bottom: 0.35em;
}

.level_header {
	height: 12em;
	display: block;
	margin: 0 auto;
	border-radius: 35px;
}

.grey {
	color: #9e9e9e !important;
}

.jumped-mastered {
	background-color: #834d9b; /* fallback for old browsers */

	color: #ffffff;
}

/* :lang(ar) {
	// font-family: 'Amiri', serif;
	font-family: 'Droid Arabic Naskh', serif;
	font-size: 20px;
} */

.verse {
	line-height: 60px;
}

.auu {
	color: #ffffff;
	padding: 10px;
	border-radius: 15px;
	background: #834d9b; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #834d9b, #d04ed6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#834d9b,
		#d04ed6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//

div.fancy-select div.trigger {
	color: #ffffff !important;
	width: 100%;
	font-size: 50px;
	text-align: right;
}

div.fancy-select ul.options {
	padding: 0;
	text-align: right;
	width: 100%;
	margin-top: 30px;
}

div.fancy-select ul.options li {
	font-size: 50px;
	margin-top: 30px;
}

#non-verb-finder,
#verb-finder {
	color: #ffffff !important;
}

.synonym-count {
	background-color: #cdecff;
	padding: 10px;
}
